.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/005/226/597/original/glowing-sound-wave-with-dotted-frequency-lines-and-neon-effects-style-free-vector.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  background-color: #0A0824;
  color: white;
  margin: 0;
  padding: 0;
}

